<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Dakara"
            id="dakara.eclipse.plugin.category">
      </category>
      <command
            name="Scale Test"
            categoryId="dakara.eclipse.plugin.category"
            id="dakara.eclipse.commander.test.scaleTestCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="dakara.eclipse.commander.test.scaleTestCommand"
            class="dakara.eclipse.commander.scale.test.plugin.handlers.ScaleTestHandler">
      </handler>
   </extension>


</plugin>
