<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ibm.team.dev.launch.type.eclipse">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="askclear" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="true"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Commander Launch"/>
<listAttribute key="launch_bundles">
<listEntry value="dakara.eclipse.commander.plugin"/>
<listEntry value="dakara.eclipse.commander.scale.test.plugin"/>
<listEntry value="dakara.eclipse.finder.plugin"/>
</listAttribute>
<listAttribute key="launch_features">
<listEntry value="org.eclipse.platform"/>
<listEntry value="org.eclipse.pde"/>
</listAttribute>
<stringAttribute key="location" value="${workspace_loc}/../runtime-commander_configuration"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.eclipse.platform.ide"/>
<listAttribute key="program_arguments"/>
<listAttribute key="system_properties"/>
<stringAttribute key="templateConfig" value="${target_home}/configuration/config.ini"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="true"/>
<listAttribute key="vm_arguments"/>
</launchConfiguration>
